<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Weather API{% endblock %}</title>
       <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
